* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus :active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #efefef;
  min-height: 3000px;
}
body.lock {
  overflow: hidden;
}
input,
button,
textarea {
  font-family: inherit;
}
input:-ms-clear {
  display: none;
}
button:-moz-focus-inner {
  padding: 0;
  border: 0;
}
button {
  cursor: pointer;
}
a a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* Styles */

.wrapper {
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 100%;
  margin: 100px 0 0 0;
}
[class*="container"] {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

// general

// billboards
.info {
  display: flex;
  justify-content: center;
  align-items: center;

  .info-title {
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    background-color: #2271e6;
    color: #fff;
    font-size: 35px;
    line-height: 1.4;
    width: 100%;
    min-height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
// billboards

// programs
.title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  line-height: 1.23;
  padding: 0 0 45px 0;
}

.card__title {
  font-size: 24px;
  font-weight: 700;
}
.card__price {
  font-size: 24px;
  font-weight: 700;
}
.card__description {
  max-width: 360px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

@media (max-width: 767px) {
  .info-title {
    font-size: 28px !important;
  }
}
@media (max-width: 479px) {
  .info-title {
    font-size: 24px !important;
  }
  .card__description {
    font-size: 14px;
    line-height: 1.2;
  }
}
// programs

// footer
.list {
  .list-title {
    color: #424242;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 14px 0;
    font-weight: 700;
    font-size: 16px;
  }
  .item {
    margin: 0 0 10px 0;
    cursor: pointer;
  }
}

.slick-next {
  display: none !important;
}
.slick-prev {
  display: none !important;
}
